<div class="container">
  <div class="row">
    <button (click)="toggleDisplay()">Toggle Display</button>
    <p *ngFor="let click of counter" [ngStyle]="{color: getLength()}">{{click}}</p>
  </div>
  <div class="row">
    <p *ngIf="state === true">This is a paragraph to display or not based on structural directive 'ngIf'<br>
      with an if-condition in the class based on the boolean variable 'state'<br>
      which is inverted by event-binding the component's method 'toggleDisplay()' to the (click)-event of the HTML-element 'button' above.</p>
  </div>
</div>
